.ProjectList {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 100%;
}

.ProjectList .ColumnOuter {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.ProjectList .submitProject {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.ProjectList .submitProject button {
  width: 200px;
  height: 50px;
  margin: 20px 0;
}

.ProjectList .ColumnOuter .CardsCollection {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.ProjectList .ColumnOuter .CardsCollection::-webkit-scrollbar {
  display: none;
}

.ProjectList .Card {
  box-sizing: border-box;
  height: 200px;
  width: 400px;
  border-radius: 8px;
  margin: 8px;
  padding: 10px;
  background-color: #c4c4c4;
  overflow: hidden;
}

.ProjectList .Card .AvaTextCard {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  height: 80px;
  flex-shrink: 0;
}

.ProjectList .Card .AvaTextCard .Avatar {
  margin: 0;
  margin-right: 12px;
  height: 60px;
  width: 60px;
}

.ProjectList .Card .AvaTextCard .PersonalInfo {
  display: flex;
  margin: 0;
  flex-direction: column;
  color: #000000;
}

.ProjectList .Card .AvaTextCard .PersonalInfo a {
  text-decoration: none;
  color: black;
}

.ProjectList .Card .AvaTextCard .PersonalInfo .UserFirstname {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.02em;
}

.ProjectList .Card .AvaTextCard .PersonalInfo .Text {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.5);
}

.ProjectList .Card > .Text {
  margin: 0;
}
