.TopNavBar {
  box-sizing: border-box;
  min-height: 80px;
  display: flex;
  align-items: center;
  background-color: hsl(0, 0%, 77%);
}

.TopNavBar .SearchBar {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  padding-left: 12px;
  align-items: center;
  margin: 0 8px;
  max-width: 200px;
  min-width: 160px;
  height: 40px;
  background: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.TopNavBar .Toggle {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  padding-left: 12px;
  padding-right: 12px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 8px;
  width: 160px;
  height: 40px;
  background: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.TopNavBar .MagnifyingGlass {
  height: 16px;
  width: 16px;
}

.TopNavBar .UpsideDownTriangle {
  height: 7.5px;
  width: 10px;
  padding-left: 10px;
}

.TopNavBar .SearchBox {
  margin-left: 30px;
  border-radius: 4px;
  background-color: whitesmoke;
}
