.ViewUser {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.ViewUser .ColumnOuter {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ViewUser .CardsCollection {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
}

.ViewUser .Card {
  height: 241px;
  width: 500px;
  left: 0px;
  top: 0px;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  background-color: #c4c4c4;
  overflow: hidden;
}

.ViewUser .AvaTextCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
  height: 138px;
}

.ViewUser .Avatar {
  margin: 30px 8px;
  height: 90px;
  width: 90px;
}

.ViewUser .PersonalInfo {
  display: flex;
  margin: auto 2px auto 2px;
  flex-direction: column;
  justify-content: center;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.02em;

  color: #000000;
}

.ViewUser .UserFirstname {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.02em;
}

.ViewUser .Text {
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.5);
}
