.Vertical {
  display: flex;
  flex-direction: column;
}
.Horizontal {
  display: flex;
  flex-direction: row;
}

.Header-logo {
  width: 204px;
  height: 40px;
  padding: 12px;
  background-color: #ABA9A9;
}

.Base-horizontal {
  width: 100vw;
  height: 64px;
  background-color: #C4C4C4;
}

.Base-vertical {
  width: 210px;
  height: 100vh;
  background-color: #C4C4C4;
}      
.AvaText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 210px;
  max-height: 162px;
}

.Avatar {
  margin: 30px 8px 30px 8px;
  border: 3px solid #555;
  height: 90px;
  width: 90px;
}
.Personal-info {  
  display: flex;
  margin: auto 3px auto 3px;
  flex-direction: column;
  justify-content: center;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20%;

  letter-spacing: 0.02em;

  color: #000000;
}

.User-Firstname {
  font-size: 18px;
}